<p>
  Zone is simply a way that angular can keep track of changes to your application state and asynchronus events such as a setTimeout or click events or many other asynchronus operations.
</p>
<div>
  Counter: {{ counter }}
</div>